aiofiles
aiohappyeyeballs
aiohttp
aiosignal
annotated-types
anthropic
anyio
attrs
Authlib
backoff
beautifulsoup4
bidict
blinker
browser-use
browserbase
bubus
cachetools
certifi
cffi
charset-normalizer
click
cryptography
distro
docker
filelock
filetype
Flask
Flask-SocketIO
frozenlist
fsspec
google-ai-generativelanguage
google-api-core
google-api-python-client
google-auth
google-auth-httplib2
google-auth-oauthlib
google-cloud-speech
google-genai
google-generativeai
googleapis-common-protos
greenlet
groq
grpcio
grpcio-status
h11
hf-xet
httpcore
httplib2
httpx
httpx-sse
huggingface-hub
idna
importlib_metadata
itsdangerous
Jinja2
jiter
jose
jsonpatch
jsonpointer
jsonschema
jsonschema-specifications
langchain-core
langchain-google-genai
langchain-openai
langsmith
litellm
llvmlite
markdown-it-py
markdown-pdf
markdownify
MarkupSafe
mcp
mdurl
more-itertools
mpmath
multidict
networkx
numba
numpy
nvidia-cublas-cu12
nvidia-cuda-cupti-cu12
nvidia-cuda-nvrtc-cu12
nvidia-cuda-runtime-cu12
nvidia-cudnn-cu12
nvidia-cufft-cu12
nvidia-cufile-cu12
nvidia-curand-cu12
nvidia-cusolver-cu12
nvidia-cusparse-cu12
nvidia-cusparselt-cu12
nvidia-nccl-cu12
nvidia-nvjitlink-cu12
nvidia-nvtx-cu12
oauthlib
ollama
openai
openai-whisper
orjson
packaging
patchright
pillow
playwright
portalocker
posthog
praisonaiagents
propcache
proto-plus
protobuf
psutil
pyasn1
pyasn1_modules
PyAudio
pycparser
pydantic
pydantic-settings
pydantic_core
pydub
pyee
Pygments
PyJWT
PyMuPDF
pyparsing
pypdf
pyperclip
python-dateutil
python-dotenv
python-engineio
python-multipart
python-socketio
PyYAML
referencing
regex
requests
requests-oauthlib
requests-toolbelt
rich
rpds-py
rsa
screeninfo
setuptools
simple-websocket
six
sniffio
soupsieve
SpeechRecognition
sse-starlette
starlette
sympy
tenacity
tiktoken
tokenizers
torch
tqdm
triton
typing-inspection
typing_extensions
uritemplate
urllib3
uuid7
uvicorn
websocket-client
websockets
Werkzeug
whisper
wsproto
yarl
zipp
zstandard
